<!-- Brand Start -->
<style>
    .bg-green {
        background-color: #086436 !important;
        color: white; /* ถ้าต้องการให้ข้อความเป็นสีขาว  00a652*/
    }

    .bg-greend {
        background-color: #086436 !important;
        color: white; /* ถ้าต้องการให้ข้อความเป็นสีขาว  00a652*/
    }

    .text-lightgreen {
        color: #017c51;
    }

    
</style>
<div class="container-fluid bg-green text-white pt-4 pb-5 d-none d-lg-flex">
    @* <div class="container-fluid bg-primary text-white pt-4 pb-5 d-none d-lg-flex"> *@
    <div class="container pb-2">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex">
                <i class="bi bi-telephone-inbound fs-2"></i>
                <div class="ms-3">
                    <h5 class="text-white mb-0">Call Now</h5>
                    <span>+66 2457 9740</span><br>
                    <span>+66 2457 0086</span>
                </div>
            </div>
            <a href="/" class="h1 text-white mb-0">BANGPHAI<span class="text-lightgreen">HOSPITAL</span></a>
            <div class="d-flex">
                <i class="bi bi-envelope fs-2"></i>
                <div class="ms-3">
                    <h5 class="text-white mb-0">Mail Now</h5>
                    <span><a href="mailto:info@bangphaihospital.in.th?subject=Hello%20CustomerService&body=Greetings%20from%20your%20service!" style="color:white"> info@bangphaihospital.in.th</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand End -->
