@inherits LayoutComponentBase
@using HealthCoverage.Shared
<PageTitle>โรงพยาบาลบางไผ่</PageTitle>
<div class="page">
    <_Head />
    <_NavMenus/>
    <main>
            @Body
    </main>
    <_Foot />
</div>

@code {

}